<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body style="background-color:lightblue">
<h1 style="color:maroon;text-align:center">Welcome!</h1>
<p style="text-align:center">You can store and see your information in this webpage.</p>
<p style="text-align:center">Click <a href="/login" style="text-decoration:none">here</a> to login.</p>
<p style="text-align:center">Click <a href="/signup" style="text-decoration:none">here</a> to create your account.</p>

</body>
</html>